

/*il body quindi tutta la pagina la faccio nera, con scritte bianche  e font stadard*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}
/*app header è il div che controlla il mio titolo e la mia searchbar sfondo nero, metto al centro pagina stilizzo bottone*/
.app-header {
  background-color: #141414;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #e50914;
}
/*selezione h1, ingrandisco di 2 rem e faccio il titolo eosso */
.app-header h1 {
  margin: 0;
  font-size: 2rem;
  color: #e50914;
}
/*vado a dare stile al campo input e bottone piu grandi e li distanzio*/
input, button {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}
/*effetto*/
button {
  cursor: pointer;
}




.card-grid {
  display: grid; /* Organizza gli elementi in una griglia */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Crea colonne flessibili */
  gap: 20px; /* Spaziatura tra gli elementi */
  padding: 20px; /* Margine interno della griglia */
}


.card {
  background-color: #222; /* Sfondo scuro per le card */
  border-radius: 10px; /* Smussa gli angoli */
  overflow: hidden; /* Nasconde il contenuto che esce dal bordo */
  position: relative; /* Serve per posizionare elementi interni */
  transition: transform 0.3s; /* Effetto animazione quando cambia trasformazione */
  color: white; /* Testo bianco per contrasto */
}


.card:hover {
  transform: scale(1.05); /* Ingrossa la card quando ci passi sopra */
}


.card-hover {
  position: absolute; /* Posiziona il contenuto rispetto alla card */
  bottom: 0; /* Lo sposta in fondo alla card */
  background-color: rgba(0,0,0,0.85); /* Sfondo semitrasparente per effetto hover */
  color: white; /* Testo bianco per leggibilità */
  width: 100%; /* Occupa tutta la larghezza della card */
  padding: 10px; /* Margine interno */
  transform: translateY(100%); /* Inizialmente fuori dalla card */
  transition: transform 0.3s; /* Effetto transizione per farlo apparire */
  font-size: 0.9rem; /* Dimensione leggermente ridotta rispetto al testo normale */
}



.card:hover .card-hover {
  transform: translateY(0); /* Quando si passa sopra la card, il contenuto appare */
}
